<div class="busqueda">
  <input [(ngModel)]="searchTerm"  type="text" name="text" class="busqueda__input" id="input" placeholder="Buscar">

  <button (click)="searchPokemon()" class="busqueda__button">
      <svg viewBox="0 0 512 512" class="searchIcon"><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"></path></svg>
  </button>
</div>

<ul class="ul">
  <li *ngFor="let name of filteredPokemon">
    <div class="card">
      <div class="card-border-top">
      </div>
      <div class="img">
        <img *ngIf="name.front_shiny" src="{{name.front_shiny}}" alt="{{ name.name }}">
      </div>
      <span>{{ name.name  }}</span>
      <div  class="card__types">
        <div *ngFor="let type of name.types" class="card__type">
          {{ type }}
        </div>
      </div>

      <button [routerLink]="['/pokemon-detail', name.name ]">
        Ver más
      </button>
    </div>

  </li>
</ul>


